extends ../includes/layout

block main-content
  header(ng-controller="Account")
    .navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{'active': menuItem == 'main'}") 
              a(href="/main") Main
            li(ng-class="{'active': menuItem == 'courses'}") 
              a(href="/courses") Courses
            li(ng-class="{'active': menuItem == 'videos'}") 
              a(href="/videos") Videos
          form.navbar-form.navbar-right(ng-show="!identity.authenticated")
            .form-group.sign-in__input
              input.form-control(placeholder="Email" ng-model="user.email")
            .form-group.sign-in__input
              input.form-control(type="password" placeholder="Password" ng-model="user.password") 
            button.btn.btn-primary(ng-click="signIn(user)" ng-disabled="!user.email || !user.password") Sign in
          ul.nav.navbar-nav.navbar-right(ng-show="identity.authenticated")
            li.dropdown
              a.dropdown-toggle(href="" data-toggle="dropdown")
                strong {{identity.email}}
                strong.caret
              ul.dropdown-menu
                li
                  a(href="" ng-click="signOut()") Sign out
  section.content
    div(ng-view)
  
  footer
    .container
      .row
        .col-sm-12.text-center
          p Company logo goes here!