<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css", rel="stylesheet")
  link(href="/main.css", rel="stylesheet")
  base(href="/")
  title Document
body(ng-app="app" ng-controller="App")
  block main-content
  include scripts
  