<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(href="/vendor/bootstrap.css", rel="stylesheet")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css")
  link(href="/main.css", rel="stylesheet")
  base(href="/")
  title Document
body(ng-app="app" ng-cloak)
  include currentUser
  block main-content
  include scripts
  