script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js")
script(src="/build.js")
